In [2]:
import pandas as pd
from pyhive import hive
conn = hive.Connection(host="localhost", port=10000, username="hive")
cursor = conn.cursor()

In [28]:
cursor.execute('CREATE DATABASE IF NOT EXISTS test')
cursor.execute('USE test')
cursor.execute('SHOW DATABASES')
results = cursor.fetchall()
print(results)
cursor.execute('SHOW TABLES')
results = cursor.fetchall()
print(results)
cursor.execute('''
CREATE TABLE IF NOT EXISTS karate (
    id INT,
    name STRING)
''')
cursor.execute('SHOW TABLES')
results = cursor.fetchall()
print(results)
cursor.execute('''
INSERT INTO karate(id, name) VALUES
(1,"Lucas"),
(2,"Joao")
''')
cursor.execute('SELECT * FROM karate')
results = cursor.fetchall()
pd.DataFrame(results)

[('default',), ('test',)]
[('karate',)]
[('karate',)]

   0      1
0  1  Lucas
1  2   Joao
2  1  Lucas
3  2   Joao

In [30]:
cursor.execute('USE default')
cursor.execute('SHOW TABLES')
results = cursor.fetchall()
print(results)

[('karate',)]