In [10]:
import pandas as pd
from pyhive import hive

def execute_query(cursor, query, fetch=False):
    cursor.execute(query)
    if fetch:
        return cursor.fetchall()

conn = hive.Connection(host="localhost", port=10000, username="hive")
cursor = conn.cursor()

In [11]:
execute_query(cursor, 'CREATE DATABASE IF NOT EXISTS test')
execute_query(cursor, 'USE test')

databases = execute_query(cursor, 'SHOW DATABASES', fetch=True)
print(databases)

tables = execute_query(cursor, 'SHOW TABLES', fetch=True)
print(tables)

execute_query(cursor, '''
CREATE TABLE IF NOT EXISTS karate (
    id INT,
    name STRING)
''')

tables = execute_query(cursor, 'SHOW TABLES', fetch=True)
print(tables)

execute_query(cursor, '''
INSERT INTO karate(id, name) VALUES
(1,"Lucas"),
(2,"Joao")
''')

karate_data = execute_query(cursor, 'SELECT * FROM karate', fetch=True)
karate_df = pd.DataFrame(karate_data)
karate_df

[('default',), ('test',)]
[('karate',)]
[('karate',)]
   0      1
0  1  Lucas
1  2   Joao
2  1  Lucas
3  2   Joao
4  1  Lucas
5  2   Joao

In [ ]:
execute_query(cursor, 'USE java')
tables = execute_query(cursor,'SHOW TABLES',True)
print(tables)
results = pd.DataFrame(execute_query(cursor, f'select * from {results[0][0]}', True))
print(results)